<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>Primer Parcial </h1>
</div>

<div class="">
    <app-form-persona></app-form-persona>
</div>

<div class="">
    <!--app-form-paises (enviarError)="Datos($event,0)" (enviarPaises)="Datos($event,1)" ></app-form-paises-->
    <app-buscar-personas  (enviarPersonas)="Datos($event,1)" ></app-buscar-personas>
</div>

<div class="">
    <!--app-listar-personas [error]="arrError" [arrayPaises]="arrPaises" ></app-listar-personas-->
    <app-listar-personas  [arrayPersonas]="arrPersonas" (borrarPersona)="Borrar($event)" ></app-listar-personas>
</div>
<br>
